h3 span {
	color: white;
}
.meet-block {
  display: block !important;
  background: linear-gradient(#13272e, #111, #13272e);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: .5rem;
  place-items: center;
}
.meet-img {
  width: 100px;
  max-height: 120px;
}
.meet-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'ration_oneregular', Helvetica, sans-serif;
  width: 240px;
  height: 160px;
}
.meet-title {
  font-size: 15px;
	font-weight: 600;
	letter-spacing: .7px;
	line-height: 1.2em;
}
.meet-detail {
  font-size: 10px;
  color: white;
  font-weight: 500;
  margin: 0;
	letter-spacing: .3px;
  line-height: 1.5em;
}
.coursefilter__course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  border: 1px solid #33ceff;
  padding: .4rem 1rem;
  border-radius: 2px;
  width: 240px;
  height: 160px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background: #2229;
}
.one_ {color: #009999;}.two_ {color: #ff6c5f;}.three_ {color: #d2d900;}
.four_ {color: #cc00cc;}.five_ {color: #339933;}.six_ {color: #f01a00;}.seven_ {color: #4d52de;}

/* Form Style */
.form-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.form-flex .form-group, .form-flex .form-group .input-control {
	width: 100%;
	padding: .7rem .5rem;
	margin-bottom: 0 !important;
	font-family: 'ration_oneregular', Helvetica, sans-serif;
}
.form-flex .form-group .input-control {
	font-size: 1.1rem;
}
.form-flex textarea {
	resize: none;
}
.form-flex label {
	font-family: 'ration_oneregular', Helvetica, sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: .5px;
}
.form-flex label > span {
	color: #f01a00;
}
.form-flex .submitBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-flex .submitBtn button {
	margin: 0 auto;
	background: #f01a00a8;
	border-radius: 1px;
	color: #fff;
	border: 1px solid #f01a00a8;
	padding: .6rem 1.2rem;
	font-size: .9rem;
	font-family: 'ration_oneregular', Helvetica, sans-serif;
	font-weight: 500;
	letter-spacing: .5px;
	box-shadow: 0px 0px 8px #595353;
	transition: all 0.2s ease-in-out;
}
.form-flex .submitBtn button:hover {
	background: #f01a00;
	border: 1px solid #f01a00;
	transition: all 0.2s ease-in-out;
}

/* --- Courses Section --- */
.courses__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.course__item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background: linear-gradient(180deg, #282828 10%, #000 50%);
}
.course__item * {
  color: #fff;
  font-family: 'ration_oneregular';
}
.course__item .flex {
  display: flex;
  flex-direction: column;
  border-radius: 0;
}
.course__item .flex > p {
  border-bottom: 2px solid #000;
  padding: .5rem;
  font-size: 1rem;
  margin: 0;
}
.course__item .flex > div {
  text-align: center;
  padding: .5rem 0;
}
.course__item .flex div > h5 {
  font-family: 'bebas_neueregular';
  margin: .4rem 0;
}
.course__item .flex div > p {
  font-weight: 600;
  font-size: 1.1rem;
  margin: .4rem 0;
}
.course__item .course__details {
  margin-top: .5rem;
  display: flex;
}
.course__item .course__details > div {
  margin-left: 0;
  margin-right: 0;
  flex: 0 0 65%;
}
.course__item .course__details img {
  width: 100px;
  margin-left: 0;
}
.course__item .course__details * {
  margin: auto 1rem;
  color: #fff;
}
.course__item .course__details p {
  margin: 0;
}
.course__item a.course__link {
  color: #6ca5e6;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Hover Effect */
.meet-item:nth-child(1) .coursefilter__course:hover {
  background: #009999;
  border-color: #009999;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(2) .coursefilter__course:hover {
  background: #ff6c5f;
  border-color: #ff6c5f;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(3) .coursefilter__course:hover {
  background: #d2d900;
  border-color: #d2d900;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(4) .coursefilter__course:hover {
  background: #cc00cc;
  border-color: #cc00cc;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(5) .coursefilter__course:hover {
  background: #339933;
  border-color: #339933;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(6) .coursefilter__course:hover {
  background: #f01a00;
  border-color: #f01a00;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item:nth-child(7) .coursefilter__course:hover {
  background: #4d52de;
  border-color: #4d52de;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item .coursefilter__course:hover * {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.meet-item .coursefilter__course:hover .meet-img {
  width: 110px;
  transition: all 0.2s ease-in-out;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 100%;
  }
  .meet-item {
    width: 240px;
    height: 160px;
  }
  .coursefilter__course {
    width: 240px;
    height: 160px;
  }
  .meet-title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .7px;
  }
  .meet-img {
    width: 90px;
    max-height: 80px;
  }
  .meet-detail {
    font-size: 8px;
    text-decoration: unset;
  }
  .meet-item .coursefilter__course:hover .meet-img {
    width: 100px;
    transition: all 0.2s ease-in-out;
  }
	.form-flex {
		display: block;
	}
}

@media screen and (max-width: 380px) {
  .courses__grid {
    display: unset !important;
  }
  .course__item .course__details {
    justify-content: space-between;
  }
}