
.comment-list{
	background-color:#666666;	
	padding:20px;
	border-radius:5px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}

/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
  
}

.reply-message{
  margin-top: 0px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;	
  border-top:1px solid #333;
}

.comment-list .row .right .comment-post{
  text-align:right;
}

.comment-list .row .left{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.comment-list .row .comment-user{
  font-size:16px;
  font-weight:bold;
}

.comment-list .row .comment-date{
	font-style:italic;
	font-size:12px;
}

.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #fcf8e3;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #dff0d8;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}
.label-header {
	text-align: center;
	display: table;
	width: 25%;
}
.label-header h2 {
	font-size: 24px;
	margin-bottom:0px;
}
