body {
  background-color: black;
  color: silver;
}

.row {
  width: 100% !important;
  margin: auto;
}

legend {
  color: silver;
}

textarea {
  resize: none !important;
}

.no-touch {
  cursor: not-allowed;
}

.text-right {
text-align: right;
}

.cfp-image {
  padding-top: 87px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.register-course {
  text-align: center;
}
.register-course a {
  margin-top: 1rem;
}
.roadmap p {
  font-size: 12px;
}
.roadmap.def {
  margin-top: 2.5rem;
}
.roadmap-img {
  width: 100%;
  margin-top: 1rem;
}
div#header {
  background: url("../../../assets/images/sidebar-img.jpg") no-repeat scroll 0 0 black;
  background-size: contain;
  height: 170px;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 10px 10px 0;
  display: flex;
  justify-content: right;
  align-items: center;
}

div#header h1 {
  font-weight: 700;
}

div#errMessage {
  width: 100%;
  height: 200px;
  border: 2px solid #900;
  margin: auto;
  color: #990000;
  text-align: center;
}

.proposalText {
  width: 100%;
  height: 200px;
}

.navFOOT, .copyright {
  width: fit-content;
  margin: auto;
}

.container {
  min-height: 400px;
  padding-bottom: 100px;
}

.suggested_keywords {
  width: 500px;
  white-space: pre-wrap;
  word-break: break-all;
  height: 130px;
}

form input, form textarea, form select, form .checkbox {
  color:#000;
}

/* Error Messages */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #fff;
}
.error-container .msg.error {
  border-radius: 2px;
  padding: 1rem 5rem;
  background: #640a0678;
}
.error-container .msg.success {
  border-radius: 2px;
  padding: 1rem 5rem;
  background: #06642578;
}
.error-container .msg > li {
  list-style: decimal-leading-zero;
  margin-bottom: 0.3rem;
  padding: .03rem .5rem;
  font-size: 10px;
  font-family: 'Inter', Helvetica, sans-serif;
}

/* Modal */
section.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4rem;
  max-width: 500px;
  padding: 1rem 2rem;
  max-height: 450px;
  top: 15%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 auto;
  overflow-y: scroll;
  z-index: 2;
  scroll-behavior: smooth;
}
section.modal h3 {
  color: #353434;
}
.modal .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal select.form-control {
  border: 1px solid #e7e4e4;
  margin: 0.4rem 0rem 0.2rem;
}
.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}
.btn-pay {
  background: #e7e4e4;
  color: #000;
  width: max-content;
  align-self: flex-end;
  border: transparent;
  transition: all .2s ease-in-out;
}
.btn-open {
  margin-top: 1rem;
}
.btn-pay:hover {
  color: #e7e4e4;
  background-color: #000;
  transition: all .2s ease-in-out;
}
.btn-close {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  background: #e7e4e4;
  color: #000;
  border: 1px solid #e7e4e4;
  border-radius: 50%;
}
.btn-pay {
  margin-top: 1rem;
}
.overlay {
  display: unset !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  z-index: 1;
}
.fade-in {
  animation: fade-in .2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out .2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}